{% extends 'askalma/headerfooter.html' %}
{% block title %}Index{% endblock %}
{% load staticfiles %}
{% block body %}
	<!-- =-=-=-=-=-=-= HOME =-=-=-=-=-=-= -->
		<div class="full-section search-section">
		<div class="search-area container">
			<h3 class="search-title">Have A Question? Search Ask Alma!</h3>
			<p class="search-tag-line">If you have any question you can ask above or enter what you are looking for!</p>
			<form autocomplete="off" action='search' method='get' class="search-form clearfix" id="search-form">
				<input type="text" title="* Please enter a search term!" placeholder="Type your search terms here" class="search-term " autocomplete="off" id="querystring" name="querystring">
				<input type="submit" value="Search" class="search-btn" onclick="searchquestion()" value= "Senddata">
			</form>
		</div>
	</div>

	<br>

	<div class="full-section search-section">
		<div class="search-area container">
			<h3 class="search-title">Need a new interest / topic to check out? Ask us!</h3>
			<p class="search-tag-line">Enter one of your favorite topics. We'll give you some more topics to check out !</p>
			<form autocomplete="off" action='interest' method='get' class="search-form clearfix" id="search-form">
				<input type="text" title="* Please enter an interest / topic" placeholder="Type your interest / topic here (1 word, lowercase please)" class="search-term " autocomplete="off" id="querystring" name="querystring">
				<input type="submit" value="Search" class="search-btn" onclick="searchinterest()" value= "Senddata">
			</form>
		</div>
	</div>
	<!-- =-=-=-=-=-=-= HOME END =-=-=-=-=-=-= -->
	<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
	<div class="main-content-area">
		<!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
		<section class="white question-tabs padding-bottom-80" id="latest-post">
			<div class="container">
				<div class="row">
					<!-- Content Area Bar -->
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<!-- Tabs -->
								<ul class="nav panel-tabs">
									<li> <a data-toggle="tab" href="#tab1"><i class="icofont icon-ribbon"></i><span class="hidden-xs">Recent Questions</span></a>
									<li> <a data-toggle="tab" href="#tab1"><i class="icofont icon-ribbon"></i><span class="hidden-xs">Recommended Questions</span></a>
									</li>
									<li> <a data-toggle="tab" href="#tab2"><i class="icofont icon-layers"></i><span class="hidden-xs">Popular Responses</span></a>
									</li>
									<li class="active"> <a data-toggle="tab" href="#tab3"><i class="icofont icon-global"></i><span class="hidden-xs">Recently Answered</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div id="tab1" class="tab-pane active">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="img-responsive center-block" src="">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Is Cloud Computing the best course ever?</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>Yeah! We're learning a lot about Cloud Computing and using powerful state-of-the-art tools like Amazon Web Services.</p>
												<div class="pull-right tagcloud"> <a href="">Courses</a>  <a href="">Computer Science</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class=" correct img-responsive center-block" src="">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Is Advanced Programming too hard without taking data structures?</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>Yeah it definitely requires data structure knowledge.</p>
												<div class="pull-right tagcloud"> <a href="">Courses</a>  <a href="">Undergrad</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class="correct img-responsive center-block" src="">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#">What are some ways you have gotten research positions?</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>Contact professors by email or office hours. Also check Piazza.</p>
												<div class="pull-right tagcloud"> <a href="">Research</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class=" img-responsive center-block" src="">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> What are some of your most fulfilling clubs on campus? </a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>The Chess Club is great.</p>
												<div class="pull-right tagcloud"> <a href="">Clubs</a>  <a href="">Campus</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<div id="tab2" class="tab-pane">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="correct img-responsive center-block" src="">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>  <span><i class="fa fa-comment" aria-hidden="true"></i>50 Comment</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">Php</a>  <a href="">recursive</a>  <a href="">error</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class=" img-responsive center-block" src="">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">rss-reader</a>  <a href="">web</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class=" img-responsive center-block" src="" %}">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">navbar</a>  <a href="">color</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class="correct img-responsive center-block" src="">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">material</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<div id="tab3" class="tab-pane">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="correct img-responsive center-block" src="">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">Php</a>  <a href="">recursive</a>  <a href="">error</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class="correct img-responsive center-block" src="" %}">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">rss-reader</a>  <a href="">web</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class="correct img-responsive center-block" src="">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">navbar</a>  <a href="">color</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class="correct img-responsive center-block" src="">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">material</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<div id="tab4" class="tab-pane">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class=" img-responsive center-block" src="">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>  <span><i class="fa fa-comment" aria-hidden="true"></i>50 Comment</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">Php</a>  <a href="">recursive</a>  <a href="">error</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class=" img-responsive center-block" src="">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">rss-reader</a>  <a href="">web</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class=" img-responsive center-block" src="">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">navbar</a>  <a href="">color</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class=" img-responsive center-block" src="">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">material</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<!-- Pagination View More -->
								<div class="text-center clearfix">
									<button class="btn btn-primary btn-lg">View All Question</button>
								</div>
								<!-- Pagination View More End -->
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Latest Questions  End =-=-=-=-=-=-= -->
		<!-- =-=-=-=-=-=-= SEPARATOR Fun Facts =-=-=-=-=-=-= -->
		<div class="parallex section-padding fun-facts-bg text-center" data-stellar-background-ratio="0.1">
			<div class="container">
				<div class="row">
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="{{ stats.questions }}">
							<div class="facts-icons"> <span class="icon-trophy"></span>
							</div>
							<div class="fact"> <span class="percentfactor">{{ stats.questions }}</span>
								<p>Questions Asked</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="{{ stats.answered_questions }}">
							<div class="facts-icons"> <span class="icon-trophy"></span>
							</div>
							<div class="fact"> <span class="percentfactor">{{ stats.answered_questions }}</span>
								<p>Questions Answered</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="{{ stats.users }}">
							<div class="facts-icons"> <span class="icon-chat"></span>
							</div>
							<div class="fact"> <span class="percentfactor">{{ stats.users }}</span>
								<p>Active Users</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="{{ stats.views }}">
							<div class="facts-icons"> <span class="icon-megaphone"></span>
							</div>
							<div class="fact"> <span class="percentfactor">{{ stats.views }}</span>
								<p>Views</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
				</div>
				<!-- End row -->
			</div>
			<!-- end container -->
		</div>
		<!-- =-=-=-=-=-=-= SEPARATOR END =-=-=-=-=-=-= -->

	<script type= "text/javascript">
	function searchquestion()
	{
		var query= document.getElementById("querystring").value;
		$.ajax({ // use ajax to pass the obtained value from searchbox
	url : "/index/",
	method : "GET",
	dataType: "json",
	data: {
		searchstring: query
	},
	success: function (result)
	{
		if (result== "success")
		{
			windows.location.href= "listing.html";
		}
		else
		{
			windows.location.href= "index.html";
		}
	},
	error: function (textStatus, errorThrown)
	{
		console.log("Text status "+textStatus+" Error is "+errorThrown);
	}
	});
	}
	</script>
	<!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->
{% endblock %}
